{% extends "users/base.html" %}
{% load humanize %}
{% load markup %}
{% load icons %}
{% load static %}

{% block pre_js %}
    <script src="{% static 'js/d3/d3.v5.min.js' %}"></script>
    <script src="{% static 'js/d3/d3-selection-multi.v1.min.js' %}"></script>
    <script src="{% static "js/mxlive-layouts.min.js" %}"></script>
{% endblock %}

{% block page_heading %}
    <h3>
        <span class="text-thin">Container |</span>
        <span class="text-condensed">
            <span class="text-muted">{% if user.is_superuser %}{{ object.project }} | {% endif %}</span><strong>{{ object.name }}</strong>
        </span>
    </h3>
    <span class="text-muted">
        {% if not object.is_editable %}<i class="text-muted ti ti-lock"></i>{% endif %}
        {{ object.identity }} |
        {% if object.shipment %}
            {% with object.shipment.containers.count as count %}
            <strong>1</strong> of <strong>{{ count }}</strong> Container{{ count|pluralize }} in Shipment {{object.shipment.name}}
            {% endwith %}
        {% elif object.accepts_children %}
            Container Adaptor.
        {% else %}
            Container not in a shipment.
        {% endif %}
    </span>
{% endblock %}

{% block object_tools %}
    {% if object.is_editable %}
    <a href="#!" data-form-link="{% url 'edit-container-samples' object.pk %}"
        {% if not object.samples.exists %}
            class="attention"
            title="No Samples"
            data-toggle="popover"
            data-trigger="hover"
            data-placement="bottom"
            data-type="popover-info"
            data-content="Click here to add samples"
        {% endif %}
        >
        {% if not object.samples.exists %}
            {% show_icon label='Samples' icon='ti ti-md ti-paint-bucket' badge="+" color="primary" %}
        {% else %}
            {% show_icon label='Samples' icon='ti ti-md ti-paint-bucket' color="primary" %}
        {% endif %}
    </a>
    {% endif %}
    {% include "users/tools-base.html" %}
    {% if object.parent_history.exists %}
        <a href="#!" data-link="{% url "container-history" object.pk %}">
            {% show_icon label='History' icon='ti ti-md ti-timer' %}
        </a>
    {% endif %}
    {% if object.children_history.exists %}
        <a class="pull-right" data-link="{% url "automounter-history" object.pk %}">
            {% show_icon label='Load History' icon='ti ti-md ti-timer' %}
        </a>
    {% endif %}
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-2">
                <h3 class="no-vmargin">
                    <span class="badge badge-{% if object.status == object.STATES.ON_SITE %}info
                                {% elif object.status == object.STATES.DRAFT %}warning
                                {% elif object.status == object.STATES.SENT %}success
                                {% elif object.status == object.STATES.RETURNED and not user.is_superuser %}success
                                {% else %}default{% endif %}">{% if object.parent %}Loaded{% else %}{{ object.get_status_display }}{% endif %}</span>
                </h3>
            </div>
            <div class="col-3">
            {% if object.accepts_children %}
                <small class="text-muted text-condensed">Beamline:</small><br>
                {% if object.dewar %}<a href="{% url "beamline-detail" object.dewar.beamline.pk %}">{{ object.dewar.beamline.acronym }}</a>{% endif %}
            {% else %}
                <small class="text-muted text-condensed">Shipment:</small><br>
                {% if object.shipment %}<a href="{% url "shipment-detail" object.shipment.pk %}">{{object.shipment.name}}</a>{% endif %}
            {% endif %}
            </div>
            <div class="col-2 pull-right text-right">
                <small class="text-muted text-condensed">Number of {% if object.accepts_children %}Containers{% else %}Samples{% endif %}:</small><br>
                <strong>{% if object.accepts_children %}{{ object.children.count }}{% else %}{{ object.num_samples }}{% endif %}</strong> / {{ object.kind.locations.count }}
            </div>
            {% if object.parent %}
                <div class="col-3 pull-right text-right">
                    <small class="text-muted text-condensed">Location:</small><br>
                    {% if object.dewar %}
                        {{ object.dewar.beamline }}
                    {% else %}
                        {{ object.parent.kind.name }} {{ object.parent.name }}
                    {% endif %} | <strong>{{ object.port }}</strong>
                </div>
            {% endif %}

            <div class="col-2 pull-left">
                <small class="text-muted text-condensed">Type:</small><br>
                {{ object.kind }}
            </div>

        </div>
    </div>
{% endblock %}

{% block full %}
    {% if object.accepts_children %}
        <div class="row">
            <div {% if user.is_superuser %}id="admin-assign"{% endif %} class="col-sm-7 p-4">
                {% include "users/entries/container-layout.html" with container=object show_samples=True loadable=True %}
            </div>
            <div class="col-sm-5 col-12">
                {% include "users/entries/loaded.html" %}
            </div>
        </div>
    {% else %}
    <div class="row">
        <div class="col-md-7 col-12">
        <h3>Samples in {{ object.name }}</h3>
            {% include "itemlist/list.html" with object_list=object.samples.all %}
        </div>
        <div class="col-md-5 p-4 col-12">
            {% include "users/entries/container-layout.html" with container=object show_samples=True label_samples=True loadable=False %}
        </div>
    </div>
    {% endif %}
    {% include "users/comments.html" with object=automounter.dewar %}
{% endblock %}

{% block extra_js %}
<script>
    {% if not object.accepts_chidren %}
    $(document).ready(function() {
        $(document).on('click', 'svg.sample[data-id]', function(){
            let url = '{% url "sample-detail" 0 %}';
            window.location.href = url.replace('0/', $(this).data('id'));
        });
    });
    {% endif %}
</script>
{% endblock %}
