{% extends "users/base.html" %}

{% load static %}
{% load jsutils %}
{% load stats %}
{% load icons %}

{% block extra_css %}
    <link href="{% static "css/c3.min.css" %}" rel="stylesheet">
    <link href="{% static "css/reports.min.css" %}" rel="stylesheet">
{% endblock %}

{% block page_heading %}
    <h3 class="text-condensed">
        <strong class="text-muted">{{ object.username|upper }}</strong> | Project Profile
    </h3>
    <span class="text-muted">
        Your contact information
    </span>
{% endblock %}


{% block object_tools %}
    <a  href="{% url "project-statistics" username=object.username %}">
        {% show_icon label='My Stats' icon='ti ti-md ti-pulse' %}
    </a>
    <a  href="#!" data-form-link="{% url "new-sshkey" username=object.username %}">
        {% show_icon label='Add SSH Key' icon='ti ti-md ti-key' %}
    </a>
    <a  href="#!" data-form-link="{% url "edit-profile" username=object.username %}">
        {% show_icon label='Edit Profile' icon='ti ti-md ti-pencil' %}
    </a>
{% endblock %}

{% block object_status %}
{% endblock %}

{% block full %}
    <div class="row">
        <div class="{% if user.sshkeys.all %}col-md-8{% endif %} col-12">
            {% include "users/entries/address-card.html" %}
        </div>
        {% if user.sshkeys.all %}
            <div class="col-md-4 col-12">
                <div class="card mb-4">
                    <div class="card-header p-1 text-wide text-muted text-center">
                        <small>SSH KEYS</small>
                    </div>
                    {% for key in user.sshkeys.all %}
                        <div class="list-group list-group-flush">
                            <div class="list-group-item p-2">
                                <div class="d-flex flex-row">
                                    <div class="pl-3  overflow-ellipsis align-self-center">
                                        <h5 class="mt-2 text-condensed text-muted">
                                            <strong><i class="ti ti-key ti-sm"></i> {{ key.name }}</strong> | {{ key.created }}
                                        </h5>
                                        <p class="d-block mt-2 text-wrap text-sm text-monospace" style="word-wrap: break-word;">{{ key.fingerprint }}</p>
                                    </div>
                                    <div class="tools-box ml-auto my-0">
                                        <a href="#!" data-form-link="{% url 'sshkey-delete' key.pk %}">
                                            {% show_icon label='Delete' icon='ti ti-md ti-trash' %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}