{% extends "users/base.html" %}
{% load humanize %}
{% load badges %}
{% load layout %}
{% load markup %}
{% load static %}
{% load icons %}
{% block pre_js %}
    <script src="{% static 'js/d3/d3.v5.min.js' %}"></script>
    <script src="{% static 'js/d3/d3-selection-multi.v1.min.js' %}"></script>
    <script src="{% static "js/mxlive-layouts.min.js" %}"></script>
{% endblock %}

{% block page_heading %}
    <h3>
        <span class="text-thin">Shipment |</span>
        <span class="text-condensed">
            <span class="text-muted">{% if user.is_superuser %}{{ shipment.project }} | {% endif %}</span><strong>{{ shipment.name }}</strong>
        </span>
    </h3>
    <span class="text-muted">
        {% if not shipment.is_editable %}<i class="text-muted ti ti-lock"></i>{% endif %}
        {{ shipment.identity }} |
        {% if shipment.status == shipment.STATES.DRAFT %}Created {{ shipment.created|naturalday }}
        {% elif shipment.status == shipment.STATES.SENT %}Sent {{ shipment.date_shipped|naturalday }}
        {% elif shipment.status == shipment.STATES.ON_SITE %}Received
            {% if shipment.date_received %}{{ shipment.date_received|naturalday }}{% else %}
                {{ shipment.date_shipped|naturalday }}{% endif %}
        {% else %}Returned {{ shipment.date_returned|naturalday }}
        {% endif %}
    </span>
{% endblock %}

{% block object_tools %}
    {% include "users/shipment-tools.html" %}
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col">
                <h3 class="m-0">
                    <span class="badge badge-{% if shipment.status == shipment.STATES.ON_SITE %}info
                                {% elif shipment.status == shipment.STATES.DRAFT %}warning
                                {% elif shipment.status == shipment.STATES.SENT %}success
                                {% elif shipment.status == shipment.STATES.RETURNED and not user.is_superuser %}success
                                {% else %}default{% endif %}">{{ shipment.get_status_display }}</span>
                </h3>
            </div>
            <div class="col">
                <small class="text-muted text-condensed">#&nbsp;Containers:</small><br>
                <strong>{{ shipment.containers.count }}</strong>
            </div>
            <div class="col">
                <small class="text-muted text-condensed">#&nbsp;Groups:</small><br>
                <strong>{{ shipment.groups.count }}</strong>
            </div>
            <div class="col">
                <small class="text-muted text-condensed">#&nbsp;Samples:</small><br>
                <strong>{{ shipment.num_samples }}</strong>
            </div>
            {% if shipment.status >= shipment.STATES.ON_SITE %}
                <div class="col">
                    {% if shipment.status > shipment.STATES.ON_SITE %}
                        <small class="text-muted text-condensed">On-Site:</small><br>
                        {% if shipment.date_received %}{{ shipment.date_received|naturalday }}{% else %}
                            {{ shipment.date_shipped|naturalday }}{% endif %} - {{ shipment.date_returned|naturalday }}
                    {% else %}
                        <small class="text-muted text-condensed">Location:</small><br>
                        {{ shipment.storage_location }}
                    {% endif %}
                </div>
            {% endif %}

            {% if shipment.status == shipment.STATES.DRAFT %}
                <div class="col">
                    <small class="text-muted text-condensed">Ready to Ship:</small><br>
                    {{ shipment.shipping_errors|yesno:"No,Yes" }}
                </div>
                {% else %}{% if shipment.status < shipment.STATES.RETURNED %}
                    <div class="col-3">
                        <small class="text-muted text-condensed">Sent:</small><br>
                        <span class="text-muted">via</span> {{ shipment.carrier }}
                        {% if shipment.tracking_code and shipment.carrier %}
                            [<a href="{{ shipment.carrier.url }}{{ shipment.tracking_code }}"
                                title="Track with {{ shipment.carrier }}">{{ shipment.tracking_code }}</a>]
                        {% endif %}
                    </div>
                {% endif %}
            {% endif%}
            {% if shipment.status >= shipment.STATES.RETURNED %}
                <div class="col">
                    {% if shipment.status < shipment.STATES.RETURNED %}
                        <small class="text-muted text-condensed">Ready to Return:</small><br>
                        {{ shipment.is_returnable|yesno:"No,Yes" }}
                    {% else %}
                        <small class="text-muted text-condensed">Returned:</small><br>
                        via {{ shipment.carrier }} {% if shipment.return_code and shipment.carrier %}
                        [<a href="{{ shipment.carrier.url }}{{ shipment.return_code }}"
                            title="Track with {{ shipment.carrier }}">{{ shipment.return_code }}</a>]
                    {% endif %}
                    {% endif %}
                </div>
            {% endif %}
            {% if shipment.components.count %}
                <div class="col text-right">
                    <small class="text-muted text-condensed">Included Items</small><br>
                    {% for c in shipment.components.all %}
                        <span class="badge badge-warning p-2">{{ c.kind }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block full %}
    <div class="row">
        <div class="col-sm-8 col-12">
            <div class="row">
                {% for container in shipment.containers.all %}
                    <div class="{% container_col container %} text-center">
                        <div id="layout-{{ container.pk }}" class="layout-lg mt-4">
                            <h5 class="text-condensed">
                                <a href="{% url "container-detail" pk=container.pk %}">
                                    {% if container.parent %}
                                        <span class="badge badge-primary text-thin" title="Loaded">
                                        {% if container.dewar %}{{ container.dewar.beamline }} |
                                            {% else %}{{ container.parent.kind.name }} {{ container.parent.name }}
                                            |{% endif %}{{ container.port }}&nbsp;|&nbsp;{{ container.name }}
                                    </span>
                                    {% else %}
                                        <span class="badge badge-secondary text-thin">{{ container.name }}</span>
                                    {% endif %}
                                </a>
                            </h5>
                        </div>
                        {% include "users/entries/container-layout.html" with show_samples=True label_samples=True %}
                    </div>

                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4 col-12">
            <div class="card">
                <div class="card-header p-1 text-center text-wide text-muted"><small>GROUPS</small></div>
                <ul class="list-group list-group-flush">
                    {% for group in shipment.groups_by_priority %}
                        {% with num_samples=group.samples.count %}
                            <li class="list-group-item" id="group-{{ group.pk }}" data-highlight="group"
                                data-reference="{{ group.pk }}">
                                <div class="d-flex flex-row justify-content-between">
                                    <div>
                                        <a href="{% url "group-detail" pk=group.pk %}"><strong>{{ group.name }}</strong></a>
                                        <div class="small">
                                            <span title="Type">{{ group.get_kind_display }}{% if group.absorption_edge %} ({{ group.absorption_edge }}){% endif %}</span>
                                            | <span title="Plan">{{ group.get_plan_display }}{% if group.resolution %} ({{ group.resolution }}Å){% endif %}</span>
                                        </div>
                                    </div>
                                    {% if shipment.is_editable %}
                                        <div class="tools-box">
                                            <a href="#!" data-form-link="{% url "group-edit" group.pk %}"
                                                title="Edit Group Parameters">
                                                {% show_icon icon="ti ti-pencil" %}
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="small text-info">
                                        <strong>{{ num_samples }} sample{{ num_samples|pluralize }}</strong>
                                        </div>
                                    {% endif %}
                                </div>
                                {% if group.is_editable and num_samples == 0 %}
                                    <div class="small text-warning">
                                        <strong>No samples</strong>
                                    </div>
                                {% elif group.is_editable %}
                                    <div class="small">
                                        <span class="text-success"><strong>{{ num_samples }}</strong> sample{{ num_samples|pluralize }} assigned.</span>
                                        {% if group.comments %}&nbsp;<span class="text-secondary">{{ group.comments }}</span>{% endif %}
                                    </div>
                                {% endif %}
                            </li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% include "users/comments.html" with object=object %}
{% endblock %}