{% extends "lims/modal/content.html" %}
{% block modal_title %}{{title}}{% endblock %}
{% block modal_styles %}modal-lg{% endblock %}
{% block modal_body %}
    <a class ="d-block aspect-16-9" data-flickr-embed="true" href="https://www.flickr.com/photos/{{ album }}" title="{{title}}">
    <img src="https://live.staticflickr.com/{{photo}}" alt="{{title}}">
    </a>
{% endblock %}

{% block modal_scripts %}
    <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
{% endblock %}