{% extends "lims/base.html" %}

{% load static %}
{% load settings %}

{% block full %}

<div id="content" class="row">
    <div class="col-sm-5 col-lg-8 col-xs-12">
        <h1><span class="text-muted text-large">404</span></h1>
        <span class="text-muted">Sorry, we couldn't find <span class="text-muted">{{request_path}}</span></span>
        <hr/>
        <span class="text-condensed">
            <h3>Here are some things to try:</h3>

        <h5>Check that the URL you entered is correct.</h5>
        <h5>Go back <a href="{% url 'dashboard' %}">home</a> and try again.</h5>
        <h5>If you have an idea about how we can make your {% get_setting 'APP_NAME' %} experience more enjoyable, contact us at {% get_setting 'SUPPORT_EMAIL' %}.</h5>
            </span>
    </div>
    <div class="col-sm-7 col-lg-4 col-xs-12">
        <img src="{% static 'img/cls-unplugged.png' %}" style="max-width: 100%;"/>
    </div>
</div>
{% endblock %}
