{% extends "lims/base.html" %}

{% load static %}
{% load settings %}

{% block body %}
    <main id="main-content" class="content">
        <div class="pad-wrapper">
            <div class="folio">
                <div class="folio-body">
                    <div class="row">
                        <div class="col-sm-5 col-lg-8 col-xs-12">
                            <h1><span class="text-muted text-large">500</span></h1>
                            <span class="text-muted">We've encountered an Internal Server Error.</span>
                            <hr/>
                            <span class="text-condensed">
                                <h3>Sorry for the inconvenience!</h3>

                            <h5>A notification has been sent, and we will try to sort out the problem as soon as possible.</h5>
                            <h5>If you would like to help, contact us at {% get_setting 'SUPPORT_EMAIL' %} to let us know what you were trying to do when the error occurred.</h5>
                                </span>
                        </div>
                        <div class="col-sm-7 col-lg-4 col-xs-12">
                            <img src="{% static 'lims/img/cls-unplugged.png' %}" style="max-width: 100%;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}

