{% extends "lims/base.html" %}
{% load icons %}
{% load guides %}
{% load msgs %}
{% load settings %}

{% block page_heading %}
    <h3 class="text-condensed"> <span class="text-muted"><strong>{{ user.username|upper }}</strong> |</span> User</h3>
    <span class="text-muted hidden-xs">
        Start here to manage and monitor shipments, review recent sessions, view and download data, and much more.
    </span>
{% endblock %}

{% block object_tools %}
    <a href="#!"  data-form-link="{% url 'shipment-new' %}">
        {% show_icon label='New Shipment' icon='ti ti-md ti-plus' %}
    </a>
    {% include "lims/tools-user.html" %}
{% endblock %}

{% block full %}
  <div class="row">
    {% if beamtimes %}
        <div class="col-12 col-md-3">
            <div class="card mb-4">
                <div class="card-header p-1 text-center text-wide text-muted"><small class="">UPCOMING BEAMTIME</small></div>
                <div class="list-group list-group-flush">
                {% for beamtime in beamtimes %}
                    {% include "schedule/beamtime-list-item.html" %}
                {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col-12 {% if beamtimes %}col-md-6{% else %}col-sm-8{% endif %}">
        <div class="card mb-4">
            <div class="card-header p-1 text-center text-wide text-muted"><small>RECENT SHIPMENTS</small></div>
            <div class="list-group list-group-flush">
                {{ show_info }}
                <div class="list-group-item empty p-2">
                    <a href="#!" data-form-link="{% url 'shipment-new' %}" class="d-flex flex-row">
                        <div class="box-status">
                            <div class="text-center text-muted">
                                <div title="Create a Shipment" class="ti ti-md ti-plus"></div>
                                <div><small>Start Now</small></div>
                            </div>
                        </div>
                        <div class="pl-3 overflow-ellipsis flex-shrink-1 align-self-center">
                            <h4 class="p-0 m-0 text-condensed">Click here to start a new shipment!</h4>
                            <span>Follow the steps to enter your sample information</span>
                        </div>
                    </a>
                </div>
                {% for shipment in shipments %}
                    {% include "lims/entries/shipment-list-item.html" %}
                {% endfor %}
            </div>
        </div>

        {% if sessions %}
        <div class="card mb-4">
            <div class="card-header p-1 text-center text-wide text-muted">
                <small>RECENT SESSIONS</small>
            </div>
            <div class="list-group list-group-flush">
                {% for session in sessions %}
                    {% include "lims/entries/session-list-item.html" %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <!-- right region -->
    <div class="col-12 {% if beamtimes %}col-md-3{% else %}col-sm-4{% endif %}">
        {% load_guides %}
    </div>

</div>

{% endblock %}	


