{% extends "lims/base.html" %}
{% load static %}
{% load guides %}
{% load icons %}
{% load settings %}

{% block extra_css %}
    <style>
        {% for kind in access_types %}
            .{{kind.name}} {
              position: relative;
            }
            .{{kind.name}}:before {
              content: "";
              height: 100%;
              width: 7px;
              background-color: {{kind.color}};
              position: absolute;
              left: 0;
              top: 0;
            }
        {% endfor %}
    </style>
{% endblock %}

{% block page_heading %}
    <h3 class="text-condensed"> <span class="text-muted"><strong>{{ user.username|upper }}</strong> |</span> Staff </h3>
    <span class="text-muted text-condensed hidden-xs">Start here to manage shipments, load containers on a beamline, view data, and more.</span>
{% endblock %}

{% block pre_js %}
    <script src="{% static 'js/d3/d3.v5.min.js' %}"></script>
    <script src="{% static 'js/d3/d3-selection-multi.v1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lims/js/mxlive-layouts.min.js' %}"></script>
{% endblock %}

{% block object_tools %}
    {% get_setting "LIMS_USE_SCHEDULE" as schedule %}
    {% get_setting "LIMS_USE_PUBLICATIONS" as publications %}
    {% get_setting "LIMS_USE_CRM" as crm %}
    {% get_setting "LIMS_USE_ACL" as acl %}

    {% if acl %}
        <a  href="{% url 'access-list' %}">
            {% show_icon label="Remote" icon="ti ti-md ti-rss-alt" %}
        </a>
    {% endif %}
    <a  href="{% url 'session-list' %}">
        {% show_icon label="Sessions" icon="ti ti-md ti-calendar" %}
    </a>
    <a  href="{% url 'user-list' %}">
        {% show_icon label="Accounts" icon="ti ti-md ti-user" %}
    </a>

    {% if schedule %}
        <a  href="{% url 'schedule' %}">
            {% show_icon label="Schedule" icon="ti ti-md ti-time" %}
        </a>
    {% endif %}
    {% if publications %}
        <a  href="{% url 'pub-entry-list' %}">
            {% show_icon label="Publications" icon="ti ti-md ti-layout-list-post" %}
        </a>
    {% endif %}
    {% if crm %}
        <a href="{% url 'supportrecord-list' %}" title="User Support">
            {% show_icon label="Support" icon="ti ti-md ti-headphone-alt" %}
        </a>
    {% endif %}
    <div class="separator"></div>
    <a href="#!" data-form-link="{% url 'new-guide' %}" title="Create Guide">
        {% show_icon label="Add Guide" icon="ti ti-md ti-agenda" %}
    </a>
{% endblock %}

{% block full %}
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card mb-4">
                <div class="card-header p-1 text-center text-wide text-muted"><small class="">BEAMLINES</small></div>
                <div class="list-group list-group-flush list-group-hover">
                {% for bl in beamlines %}
                    {% with bl.active_automounter as automounter %}
                        <a href="{% url 'beamline-detail' pk=bl.pk %}" class="text-center list-group-item p-2">
                            <div id="layout-{{ automounter.pk }}" class="layout-lg">
                                <h5 class="text-condensed">
                                    <strong><span class="text-muted">{{ bl.acronym }}</span></strong> | {{ automounter.container.kind|default:"Manual Mounting" }}
                                </h5>
                                <hr/>
                            </div>
                            {% if automounter %}
                                {% include "lims/entries/container-layout.html" with container=automounter.container details=False %}
                            {% endif %}
                        </a>
                    {% endwith %}
                {% endfor %}
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header p-1 text-center text-wide text-muted"><small>ADAPTORS</small></div>
                <div class="card-body p-2">
                    <div class="row">
                        {% for container in adaptors %}
                            {% include "lims/entries/container-item.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6">
            <div class="card mb-4">
                <div class="card-header p-1 text-center text-wide text-muted"><small>ACTIVE CONNECTIONS</small></div>
                <div class="list-group list-group-flush list-group-hover">
                {% for connection in connections %}
                    {% include "lims/entries/connection-list-item.html" %}
                {% empty %}
                    <div class="list-group-item empty">
                        No active connections at the moment.
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header p-1 text-center text-wide text-muted"><small>SHIPMENTS</small></div>
                <div class="list-group list-group-flush">
                    {% for shipment in shipments %}
                        {% include "lims/entries/shipment-list-item.html" %}
                    {% endfor %}
                        <div class="p-2 list-group-item empty">
                            <a href="#!" data-form-link="{% url 'shipment-new' %}" class="d-flex flex-row">
                            <div class="box-status">
                                <div class="text-center text-muted">
                                    <div title="Create a Shipment" class="ti ti-md ti-plus"></div>
                                    <div><small>Start Now</small></div>
                                </div>
                            </div>
                            <div class="pl-3 overflow-ellipsis flex-grow-1 align-self-center">
                                <h4 class="p-0 m-0 text-condensed">Click here to start a new shipment!</h4>
                                <span class="overflow ellipsis">Follow the steps to enter your sample information</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3">
          {% if support %}
            <div class="card mb-4">
                <div class="card-header p-1 text-center text-wide text-muted"><small>LOCAL CONTACT</small></div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item p-2">
                        <div class="d-flex flex-row">
                            <div class="pl-3 overflow-ellipsis align-self-center">
                                <h5 class="m-0 text-condensed text-muted">
                                    <a href="mailto:{{ support.staff.contact_email|urlencode }}" title="Email {{ support }}" class="text-muted">
                                        <strong>{{ support|upper }}</strong>
                                    </a>
                                </h5>
                                <span class="text-muted overflow ellipsis">
                                    <a href="tel:{{ support.staff.contact_phone }}">{{ support.staff.contact_phone }}</a>
                                </span>
                            </div>
                            <div class="tools-box ml-auto">
                                {% get_setting "LIMS_USE_CRM" as crm %}
                                {% if crm %}
                                <a href="#!" data-form-link="{% url 'new-supportrecord' %}" title="Record User Support">
                                    {% show_icon label='Support' icon='ti ti-md ti-headphone-alt' badge='+' color='primary' %}
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}
          {% load_guides %}
        </div>
    </div>
{% endblock %}