.diffviewer_common {
  position: absolute;
  z-index: 5000;
}

.diffviewer_cursor {
  cursor: default;
}

.diffviewer_drag_cursor {
  cursor: move;
}

.diffviewer_button {
  width: 19px;
  height: 19px;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  box-shadow: 1px 1px 6px #666;
  text-align: center;
  color: #337ab7;
}

.diffviewer_zoom_in {
  left: 0px;
}

.diffviewer_zoom_out {
  left: 21px;
}

.diffviewer_zoom_fit {
  left: 42px;
}

.diffviewer_zoom_status {
  left: 0px;
  bottom: 0px;
  font: 11px/19px Lato;
  color: #fff;
  background-color: #333;
  text-align: center;
  width: 8em;
  filter: alpha(opacity = 70);
  opacity: 0.7;
}

.diffviewer_overview_img {
  cursor: pointer;
  right: 0px;
  bottom: 0px;
  font: 11px/19px Lato;
  color: #fff;
  background-color: #333;
  text-align: center;
  width: 128px;
  height: 128px;
  box-shadow: -1px -1px 6px #666;
  display: none;
}

.diffviewer_overview_box {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  border: 1px solid #c36;
}