html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  background-image: url("/static/lims/img/bg.png");
  image-rendering: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}