:root {
  font-size: 14px;
}

body {
  background-color: white;
}

.heading span {
  vertical-align: middle;
  line-height: 80px;
}

p {
  margin-top: 50px;
  font-size: 14px;
}

.panel-main {
  margin: auto;
  margin-top: 20px;
  width: 85%;
  border: 1px solid #777777;
  padding: 4rem;

  table {
    font-size: 20px;
    max-width: 77.5%;
  }
}

table td {
  border: none !important;
}

.border-bottom {
  border-bottom: 1px solid #777777;

  td {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

.panel-default {
  background-color: #efefef !important;
  padding: 1.5rem;
  margin-top: 45px;
  width: 72.5%;

  table {
    width: 100%;
    max-width: 100%;
    font-size: 14px;

    td {
      background: none !important;
    }
  }
}

.label-sidebar {
  float: right;
  max-width: 22.5%;

  img {
    width: 100%;
  }
}

.emphasize {
  font-size: 18px;
  text-align: center;
}

/* Shipping Form */

#shipping-form {
  page-break-before: always !important;
  padding-right: 2px;

  p {
    margin-top: 0;
  }

  .dark-blue, table.table-dark-blue td {
    //border: 1px solid darkblue !important;
    //border-top: 1px solid darkblue !important;
    background-color: rgba(0, 0, 139, 0.05) !important;
    color: darkblue !important;
  }

  .dark-blue small {
    color: darkblue !important;
  }

  .dark-red {
    //border: 1px solid darkred !important;
    //border-top: 1px solid darkred !important;
    background-color: rgba(139, 0, 0, 0.05) !important;
    color: darkred !important;
  }

  td {
    &.input {
      background-color: #fefefe !important;
      border: 1px solid #dddddd !important;

      //color: blue !important;
      font-weight: bold;
    }

    &.bordered {
      border: 1px solid #dddddd !important;
    }

    &.heavy {
      border: 3px solid #777777 !important;
    }
  }

  table {
    &.table-narrow td {
      height: 8px !important;
      line-height: 8px;
    }

    &.table-xsm td {
      height: 6px !important;
      line-height: 6px;
      padding: 0.5em;
    }

    &.table-lg td {
      height: 15px !important;
      line-height: 15px;
    }
  }

  .large {
    font-size: 120%;
  }
}

.border-black-top {
  border-top: 1px solid black !important;
}

.border-black-bottom {
  border-bottom: 1px solid black !important;
}

.border-black-left {
  border-left: 1px solid black !important;
}

.border-black-right {
  border-right: 1px solid black !important;
}