Django
Markdown
cryptography
django-colorfield
django-crispy-forms
django-debug-toolbar
django-debug-toolbar-request-history
django-formtools
django-itemlist
django-memoize
django-model-utils
django-proxy
django-python3-ldap
djangorestframework
djangorestframework-simplejwt
crispy-bootstrap4
geopy
habanero
jsonfield2
ldap3
msgpack
numpy
psycopg2-binary
python-dateutil
pymemcache
pytz
requests
timezonefinder
pyparsing
PyYAML
Pygments
isodate

fastjsonschema