{% extends "modal/wizard.html" %}
{% load layout %}
{% load static %}

{% block modal_scripts %}
    {{ block.super }}
    <script>
        function update_request(e, copy) {
            let el = e.target;
                $.ajax({
                    type: 'get',
                    dataType: "json",
                    url: $(el).data('post-action'),
                    data: {'pk': el.value},
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                    },
                    success: function (data, status, xhr) {
                        let kind = $('[css-id="kind"]').parent().find('span[role="textbox"]');
                        let suffix = copy && ' - copy' || ''
                        let name = data['name'] + suffix;
                        $('[css-id="name"]').val(name);
                        $('[css-id="kind"]').find('option[value="' + data['kind_id'] + '"]').attr('selected', 'selected');
                        kind.text(data['kind_name']);
                        $('[css-id="comments"]').val(data['comments']);
                    },
                    error: function () {
                        $(el).shake();
                    }
                });
            }
        $('[css-id="request-template"]').on('change', function (e) {
            update_request(e, true);
        });
        $('[css-id="request-existing"]').on('change', function (e) {
            update_request(e, false);
            $('[css-id="name"]').attr('readonly', true);
            $('[css-id="kind"]').attr('readonly', true);
            $('[css-id="comments"]').attr('readonly', true);
            $('[css-id="request-template"]').attr('readonly', true);
        });
    </script>
{% endblock %}
