{% extends "users/pdf/doc_base.html" %}

{% load static %}
{% load settings %}

{% block content %}

<div class="container">
    <div class="row">
        <h2 class="heading text-condensed">
            <img src="{% get_setting 'PROJECT_DIR' %}{% static "img/bl_logo.svg" %}" style="width: 300px;"/>
            <span class="pull-right">SHIPPING LABEL</span>
        </h2>
        <p>Print this document and cut out the label to affix to the outside of your transport container (dewar) for shipment.</p>
        <div class="panel panel-main">
            <div class="label-sidebar">
                <img src="{% get_setting 'PROJECT_DIR' %}{% static "img/fragile_sign.svg" %}"/>
                <br><br>
                <strong class="emphasize">Non-Hazardous Frozen Samples In Dry-Shipper</strong>
            </div>
            <table class="table table-sm">
                <tr><td>To:</td><td>{{ admin_project.organisation|upper|default:"" }}</td></tr>
                <tr><td></td><td>ATTN: {{ admin_project.contact_person|upper|default:"" }}{% if admin_project.department %} / {{ admin_project.department|upper }}{% endif %}</td></tr>
                {% include "users/pdf/address_base.html" with project=admin_project %}
            </table>
            <div class="panel panel-default">
                <table class="table table-sm">
                    <tr class="border-bottom"><td>ID:</td><td>{{project.first_name}} {{project.last_name}} ({{shipment.name}})</td></tr>
                    <tr><td>From:</td><td>{{ project.contact_person|upper|default:"" }}{% if project.department %} / {{ project.department|upper }}{% endif %}</td></tr>
                    <tr><td></td><td>{{ project.organisation|upper|default:"" }}</td></tr>
                    {% include "users/pdf/address_base.html" %}
                </table>
            </div>
        <span class="emphasize">Not restricted, as per Special Provision A152</span>
        </div>
    </div>
</div>

{% endblock %}