{% load misc_tags %}

{% for row in request.kind.layout %}
    <li class="list-group-item py-0">
        <div class="row">
            {% for k, style in row  %}
                {% with request.parameters|get_item:k as value %}
                {% with request.kind.spec|get_item:k|get_item:"label" as label %}
                {% if style != 'hidden'  %}
                    <div class="col-{{ style }} py-2">
                        {% if label %}<strong>{{ label }}</strong><br/>{% endif %}
                        <span title="{{ k }}">{{ request.parameters|get_item:k }}</span>
                    </div>
                {% endif %}
                {% endwith %}
                {% endwith %}
            {% endfor %}
        </div>
    </li>
{% endfor %}