{% load static %}
{% load crispy_forms_tags %}

{% crispy form form.body %}
<div class="form-row">
    <div id="selector" class="col"></div>
</div>
<style>
    table.regions {
      font-size: 12px;
    }
    table.regions tbody td {
      font-family: 'Fira Code';
    }
    table.regions thead  th:not(:first-child), tbody td:not(:first-child) {
      text-align: right;
    }
    table.regions tbody  td:first-child {
      color: gray;
    }
    table.regions tbody  td:not(:first-child) {
      text-align: right;
    }
</style>

<div class="form-row">
    <small class="col px-4">
    <table class="table regions table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Start</th>
          <th scope="col">End</th>
          <th scope="col">Step</th>
          <th scope="col">Time</th>
          <th scope="col">K-space</th>
        </tr>
      </thead>
      <tbody id="table">
      </tbody>
    </table>
    </small>
</div>
<script src="{% static 'lims/js/exafs-regions.js' %}"></script>
<script>
    $('#selector').selectRegions('[name="parameters-regions"], [name="regions"]');
</script>