{% load static %}

<style>
    table.regions {
      font-size: 12px;
    }
    table.regions tbody td {
      font-family: 'Fira Code';
    }
    table.regions thead  th:not(:first-child), tbody td:not(:first-child) {
      text-align: right;
    }
    table.regions tbody  td:first-child {
      color: gray;
    }
    table.regions tbody  td:not(:first-child) {
      text-align: right;
    }
</style>

<div class="row py-3">
    <b> Edge:</b>&nbsp;
</div>
<div id="request-{{request.pk}}" class="row">
     {{ request.parameters }}
</div>


<script type="text/javascript" src="{% static 'js/d3/d3.v5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lims/js/exafs-regions.js' %}"></script>
<script>
    // $('#request-{{request.pk}}').showRegions({{ request.parameters.regions | safe }});
</script>