{% extends "publications/base.html" %}

{% load static %}
{% load icons %}
{% load jsutils %}

{% block page_heading %}
    <h3 class="text-condensed">
        <strong class="text-muted"> {{ tag|default:"All" }}</strong> | {{ view.page_title }}
    </h3>
    <span class="text-muted">
        {{ object.name }}
    </span>
{% endblock %}

{% block object_status %}
    <div class="status-bar hidden-print">
        <div class="row">
            <h5 class="my-0 p-2">
            {% if tag %}
                <a href="{% url 'section-stats' tag %}"><span class="badge badge-{% if year %}info{% else %}primary{% endif %}">&emsp;All&emsp;</span></a>&nbsp;
                {% for yr in years %}
                    <a href="{% url 'section-yearly-stats' tag  yr %}"><span class="badge badge-{% if yr == year %}primary{% else %}info{% endif %}">{{ yr }}</span></a>
                {% endfor %}
            {% else %}
                <a href="{% url 'all-stats' %}"><span class="badge badge-{% if year %}info{% else %}primary{% endif %}">&emsp;All&emsp;</span></a>&nbsp;
                {% for yr in years %}
                    <a href="{% url 'all-yearly-stats' yr %}"><span class="badge badge-{% if yr == year %}primary{% else %}info{% endif %}">{{ yr }}</span></a>
                {% endfor %}
            {% endif %}
            </h5>
            <h5 class="my-0 ml-auto p-2">
            <a href="{% url 'all-stats' %}"><span class="badge badge-{% if tag %}warning{% else %}success{% endif %}">&emsp;All&emsp;</span></a>&nbsp;
            {% if year %}
                {% for tagname in tags %}
                    <a href="{% url 'section-yearly-stats' tagname year %}">
                        <span class="badge badge-{% if tagname == tag %}success{% else %}warning{% endif %}">{{ tagname }}</span>
                    </a>
                {% endfor %}
            {% else %}
                {% for tagname in tags %}
                    <a href="{% url 'section-stats' tagname %}">
                        <span class="badge badge-{% if tagname == tag %}success{% else %}warning{% endif %}">{{ tagname }}</span>
                    </a>
                {% endfor %}
            {% endif %}
            </h5>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/c3.min.css' %}" rel="stylesheet">
    <link href="{% static 'lims/css/reports.min.css' %}" rel="stylesheet">
{% endblock %}

{% block full %}
    <div class="row">
        <div id="data-stats" class="col-12"></div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/d3/d3.v5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/d3/d3.legend.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/misc/showdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/misc/c3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lims/js/mxlive-reports.min.js' %}"></script>
    <script type="text/javascript">
        var report = {{ report | jsonify }};
        $(document).ready(function(){
            $('#data-stats').liveReport({
                data: report
            })
        });
    </script>
{% endblock %}