{% extends "modal/form.html" %}

{% load static %}
{% load msgs %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block modal_assets %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'lims/js/mxlive-forms.min.js' %}"></script>
{% endblock %}

{% block modal_title %}
    <strong class="text-condensed">{{ form.body.title }}:&emsp;</strong>
    <span class="text-muted text-right">Step <strong style="color: dodgerblue;">{{ wizard.steps.step1 }}</strong> of {{ wizard.steps.count }}</span>
{% endblock %}

{% block pre_content%}<form action="{{ form.body.form_action }}" method="post">{% endblock %}

{% block modal_body %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {% if form.errors %}
                <div id="form-errors" class="alert alert-warning"><strong>It looks like there's a problem!</strong> Please correct the errors below.</div>
            {% endif %}
            {% crispy form form.body %}
        {% endfor %}
    {% else %}
        {% if form.errors or wizard.form.errors %}
            {{ form.errors }}
            <div id="form-errors" class="alert alert-warning"><strong>It looks like there's a problem!</strong> Please correct the errors below.</div>
        {% endif %}
        {% if wizard.form.layout_template %}
            {% include wizard.form.layout_template with form=wizard.form %}
        {% else %}
            {% crispy wizard.form wizard.form.body %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block modal_footer %}
    {% if wizard.form.forms %}
        {% crispy wizard.form wizard.form.footer %}
    {% else %}
        {% crispy form form.footer %}
    {% endif %}
{% endblock %}

{% block post_content %}</form>{% endblock %}

{% block modal_scripts %}
<script>
     function initializeModal() {
         let initialData = [];
         {% if wizard.form.repeated_data %}
             initialData.push({{ wizard.form.repeated_data|safe }});
         {% endif %}
         {% if wizard.form.forms %}
             {% for form in wizard.form.forms %}
                 {% if form.repeated_data %}
                     initialData.push({{ form.repeated_data|safe }});
                 {% endif %}
             {% endfor %}
         {% endif %}
        initShipmentWizard();
        $.each(initialData, function(i, data){ setInitial(data); });
    }
    initializeModal();
</script>
{% endblock %}
