{% extends "modal/content.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block modal_styles %}modal-lg{% endblock %}
{% block modal_title %}Quick Guide{% endblock %}
{% block modal_body %}
    <div id="help-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center">Welcome back! </h2>
                        <div class="col-12 text-center">
                            <span style="font-size: 125%;">We've been making some changes. </span>
                            <hr style="border-color: #ddd;"/>
                        </div>
                        <div class="col-8" style="padding-left: 15px;">
                        <span class="tools-box pull-right">
                            <span class="pull-right">
                                <span class="fa-stack">
                                    <i class="fa-stack-2x fa fa-2 fa-fw fa-area-chart"></i>
                                        <span class="fa-stack-1x superscript">
                                            <span class="badge badge-info">16</span>
                                        </span>
                                </span><br>
                                <span class="tool-label">Reports</span>
                            </span>
                            <span class="pull-right">
                                <span class="fa-stack">
                                    <i class="fa-stack-2x fa fa-2 fa-fw fa-th"></i>
                                        <span class="fa-stack-1x superscript">
                                            <span class="badge badge-info">9</span>
                                        </span>
                                </span><br>
                                <span class="tool-label">Data</span>
                            </span>
                        </span>
                            <span style="font-size: 125%;">Find your recent shipments right on the dashboard. Click the  <i
                                    class="fa fa-th"></i>  or  <i class="fa fa-area-chart"></i>  icon to find the Data or Reports for your shipment.</span><br/>
                            <img src="{% static 'img/help/new-dashboard-lists-ann.png' %}"
                                 style="padding-left: 15px; padding-top: 15px; max-width: 100%;">
                        </div>
                        <div class="col-4" style="border-left: 1px solid #ddd; padding-left: 15px;">
                            <span style="font-size: 125%;">Don't worry, you can still find all of your data, reports, and old shipments using the search lists at the top of the page.</span>
                            <img src="{% static 'img/help/edit-profile-ann.png' %}"
                                 style="padding: 15px; max-width: 95%;">
                            <span style="font-size: 125%;">Click on your username to view your current address, edit your profile, or log out.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="jumbotron row" style="padding-bottom: 59px;">
                    <div class="col-12">
                        <h2 class="text-center">Say goodbye to spreadsheet problems.</h2>
                        <div class="col-12">
                    <span class="tools-box pull-right">
                        <span class="fa-stack">
                            <i class="fa fa-stack-2x fa-2 fa-plus"></i>
                            <span class="fa-stack-2x superscript" style="position: absolute; top: 20px !important;">
                                <i class="fa fa-mouse-pointer"></i>
                            </span>

                        </span>
                        <br/>
                        <span class="tool-label">New Shipment</span>
                    </span>
                            <span style="font-size: 125%;">Create a new shipment in moments with our shipment wizard. Follow the steps to add your Uni-Pucks or Cassettes, enter your sample groups, and tell us where to find samples for each group.</span>
                        </div>
                        <img src="{% static 'img/help/help-wizard.png' %}" style="padding: 15px; max-width: 100%;">
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="jumbotron row">
                    <div class="col-12">
                        <h2 class="text-center">Download data however you want.</h2>
                        <div class="col-12 text-center">
                            <span style="font-size: 125%;">You can now find your data organized by <span
                                    class="text-info">session</span>! Each visit to the beamline is saved as a session, so you can download all of your data at once. Or download individual datasets, just like before.</span>
                        </div>
                    </div>
                    <div class="col-12">
                        <img src="{% static 'img/help/downloads.png' %}"
                             style="padding-left: 69px; padding-right: 69px; padding-top: 4px; max-width: 100%;">
                    </div>
                </div>
            </div>
        </div>
        <!--a class="left carousel-control" href="#help-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#help-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a-->
        <ol class="carousel-indicators" style="color: black;">
            <li data-target="#help-carousel" data-slide-to="0" title="New Dashboard" class="active"></li>
            <li data-target="#help-carousel" data-slide-to="1" title="Shipment Wizard"></li>
            <li data-target="#help-carousel" data-slide-to="2" title="Downloads and Sessions"></li>
        </ol>
        <div class="form-action row" style="margin-left: 0; margin-right: 0;">
            <div class="controls">
                <div class="col-12">

                    <div class="text-center">
                        <button class="pull-left btn btn-info" href="#help-carousel" type="button" data-slide="prev"><i
                                class="fa fa-chevron-left"></i></button>
                        <button class="btn btn-success" type="button" data-dismiss="modal">Got it!</button>
                        <button class="pull-right btn btn-info" href="#help-carousel" type="button" data-slide="next"><i
                                class="fa fa-chevron-right"></i></button>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal_scripts %}
    <script>
        $('#modal').on('shown.bs.modal', function () {
            $('#help-carousel').carousel();
        });
    </script>
{% endblock %}
