{% extends "lims/base.html" %}
{% load humanize %}
{% load markup %}
{% load static %}
{% load icons %}

{% block pre_js %}
    <script src="{% static 'lims/vendor/d3/js/d3.min.js' %}"></script>
    <script src="{% static 'lims/vendor/d3/js/d3-selection-multi.v1.min.js' %}"></script>
    <script src="{% static 'lims/js/mxlive-layouts.min.js' %}"></script>
{% endblock %}

{% block page_heading %}
    <h3 class="text-condensed">
        <i class="text-muted fa fa-fw {% if object.is_editable %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        <strong class="text-muted">{{ object.acronym }}</strong> | {{ object.active_automounter.container.kind|default:"Manual Mounting" }}
    </h3>
    <span class="text-muted">
        {{ object.name }}
    </span>
{% endblock %}

{% block object_tools %}
    {% with object.active_automounter as automounter %}
    {% if automounter.container.children_history.all %}
        <a href="#!" data-link="{% url 'automounter-history' object.active_automounter.container.pk %}">
            {% show_icon label='History' icon='ti ti-md ti-timer' %}
        </a>
    {% endif %}
    <a href="{% url 'data-stats' %}?beamline__id__exact={{ object.pk }}">
        {% show_icon label='Stats' icon='ti ti-md ti-pulse' %}
    </a>
    <a href="{% url 'beamline-usage' %}?beamline__id__exact={{ object.pk }}">
        {% show_icon label='Usage' icon='ti ti-md ti-pie-chart' %}
    </a>
    <a href="{% url 'session-list' %}?beamline__id__exact={{ object.pk }}">
        {% show_icon label='Sessions' icon='ti ti-md ti-calendar' %}
    </a>
    {% if automounter %}
        <a href="#!" data-form-link="{% url 'automounter-edit' pk=automounter.pk %}">
            {% show_icon label='Comment' icon='ti ti-md ti-comment-alt' %}
        </a>
    {% endif %}
    {% endwith %}
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col-6 col-sm-4">
                <h3 class="no-vmargin">
                    <span class="badge badge-info">{{ object.contact_phone }}</span>
                </h3>
            </div>
            <div class="col-3 col-sm-4">
                <small class="text-muted text-condensed">Energy&nbsp;Range:</small><br>
                {{ object.energy_lo }} - {{ object.energy_hi }}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block full %}
    {% with object.active_automounter as automounter %}
        {% if automounter %}
            <div class="row">
                <div {% if user.is_superuser %}id="admin-assign"{% endif %} class="col-sm-7 p-4">
                    {% include "lims/entries/container-layout.html" with container=automounter.container show_samples=True loadable=True %}
                </div>

                <div class="col-sm-5 col-12">
                    {% include "lims/entries/loaded.html" %}
                </div>
            </div>
        {% endif %}
        {% include "lims/comments.html" with object=automounter %}
    {% endwith %}
{% endblock %}
