{% if container.kind.locations.exists %}
    <div id="svglayout-{{ container.pk }}"
         style="padding-bottom: {{ container.aspect_ratio|floatformat:'-2' }}%; width: 100%; position: relative;"
         data-layout-url= "{% url 'fetch-layout' pk=container.pk %}"
         data-pk="{{ container.pk }}"
         class="container-layout"></div>
    <script>
        $(document).ready(function() {
            $('#svglayout-{{ container.pk }}').layoutContainer({
                detailed: {% if show_samples %}true{% else %}false{% endif %},
                labelled: {% if label_samples %}true{% else %}false{% endif %},
                loadable: {% if loadable %}true{% else %}false{% endif %},
                prefix: "cntld"
            })
        });
    </script>
{% else %}
    <div class="card">
        <div class="list-group-flush">
            {% for sample in container.samples.all %}
                <li class="list-group-item d-flex flex-row justify-content-between" id="sample-{{ sample.pk }}" data-group="{{ sample.group.pk }}"
                    data-id="{{ sample.pk }}">
                    <div class="text-left flex-fill">
                        <a href="{% url 'sample-detail' sample.pk %}"><strong>{{ sample.name }}</strong></a>
                        {% if sample.comments %} | {{ sample.comments }}{% endif %}
                    </div>
                    {% if sample.image %}
                        <div class="tools-box my-0 text-right">
                            <img src="{{ sample.image.url }}" height="40px"/>
                        </div>
                    {% endif %}
                </li>
            {% empty %}
                <div class="list-group-item empty py-2">No samples</div>
            {% endfor %}
        </div>
    </div>
{% endif %}