<div class="col-6 col-sm-4 p-1">
    <a href="{% url "container-detail" pk=container.pk %}">
        <div class="border p-1">
            <div class="text-center">
                <div class="underline text-condensed overflow-ellipsis mb-1">
                    {{ container.name }}
                </div>
            </div>
            {% include "lims/entries/container-layout.html" %}
            <div class="text-center">
                {% if container.parent %}
                    <span class="badge badge-info" title="Loaded in {{ container.parent }}">Loaded</span>
                {% else %}
                    <span class="badge badge-secondary" title="Not Loaded">None</span>
                {% endif %}
            </div>
        </div>
    </a>
</div>
