{% extends "lims/base.html" %}
{% load humanize %}
{% load markup %}
{% load icons %}
{% load static %}

{% block page_heading %}
    <h3>
        <span class="text-thin">Group |</span>
        <span class="text-condensed">
            <span class="text-muted">{% if user.is_superuser %}{{ object.project }} | {% endif %}</span><strong>{{ object.name }}</strong>
        </span>
    </h3>
    <span class="text-muted">
        {% if not object.is_editable %}<i class="text-muted ti ti-lock"></i>{% endif %}
        {{ object.identity }} |
        {% if object.shipment %}
            {% with object.shipment.groups.count as count %}
            <strong>1</strong> of <strong>{{ count }}</strong> Group{{ count|pluralize }} in Shipment {{object.shipment.name}}
            {% endwith %}
        {% else %}
            Group not in a shipment.
        {% endif %}
    </span>
{% endblock %}

{% block object_tools %}
    {%  if object.status == object.STATES.DRAFT %}
        <a href="#!" data-form-link="{% url "seat-samples" object.shipment.pk %}" title="Sample Seat Selection">
        {% if not objects.samples.exists %}
            {% show_icon label='Samples' icon='ti ti-md ti-paint-bucket' badge="+" color="primary" %}
        {% else %}
            {% show_icon label='Samples' icon='ti ti-md ti-paint-bucket' color="primary" %}
        {% endif %}
        </a>
        <div class="separator"></div>
    {% endif %}
    {% include "lims/tools-base.html" %}
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col d-flex flex-row">
                <h3 class="align-self-center m-0 p-0">
                    <span class="badge badge-{% if object.status == object.STATES.ACTIVE %}info
                                {% elif object.status == object.STATES.DRAFT %}warning
                                {% elif object.status == object.STATES.COMPLETE %}success
                                {% elif object.status == object.STATES.ARCHIVED and not user.is_superuser %}success
                                {% else %}primary{% endif %}">{{ object.get_status_display }}</span>
                </h3>
            </div>
            <div class="col">
                <small class="text-muted text-condensed">Shipment:</small><br>
                {% if object.shipment %}<a href="{% url "shipment-detail" object.shipment.pk %}">{{object.shipment.name}}</a>{% endif %}
            </div>
            <div class="col">
                <small class="text-muted text-condensed">Plan:</small><br>
                {{ object.get_plan_display }} {% if object.resolution %}({{ object.resolution }}Å){% endif %}
            </div>
            <div class="col">
                <small class="text-muted text-condensed">Type:</small><br>
                {{ object.get_kind_display }} {% if object.absorption_edge %}({{ object.absorption_edge }}){% endif %}
            </div>
            <div class="col pull-right text-right">
                <small class="text-muted text-condensed">Number of Samples:</small><br>
                <strong>{{ object.num_samples }}</strong>
            </div>
        </div>
    </div>
{% endblock %}

{% block full %}
<div class="row">
    <div class="col-sm-12 bulk-edit">
        {% if object.status == object.STATES.DRAFT %}
            <div class="item-list sortable">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th class="">Priority</th>
                        <th class="">Name</th>
                        <th class="">Location</th>
                        <th class="">Container</th>
                        <th class="">Barcode</th>
                        <th class="">Comments</th>
                    </tr>
                </thead>
                <tbody>
                {% for sample in object.samples.all %}
                    <tr id="sample_{{ sample.pk }}" data-sample="{{ sample.pk }}">
                        <td><span class='cursor'><i class='movable ti ti-move'></i></span></td>
                        <td><a href="#!" data-form-link="{% url 'sample-edit' sample.pk %}">{{ sample.name }}</a></td>
                        <td>{{ sample.location }}</td>
                        <td>{{ sample.container.name }}</td>
                        <td>{{ sample.barcode|default_if_none:"&mdash;" }}</td>
                        <td>{{ sample.comments|default_if_none:"&mdash;" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% else %}
            {% include "lims/entries/group-progress.html" with samples=object.samples.all %}
        {% endif %}
    </div>
</div>
    {% include "lims/comments.html" with object=object %}
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/jquery/jquery-ui.min.js" %}"></script>
    <script>
        $(".sortable tbody").sortable({
            items: "tr",
            handle: ".cursor",
            cursor: 'move',
            opacity: 0.9,
            axis: 'y',
            update: function () {
                let priorities = $(this).sortable("toArray", {key: 'sample', attribute: 'data-sample'});
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "{% url 'update-priority' %}",
                    data: {
                        'group': {{ object.pk }},
                        'samples': priorities
                    },
                    success: function (response) {
                        new Noty({
                            text: "Priorities updated!",
                            type: "success",
                            layout: 'bottomRight',
                            theme: 'sunset',
                            timeout: 4000,
                            visibilityControl: true
                        }).show()
                    },
                    error: function (response) {
                        new Noty({
                            text: "Could not update sample priorities!",
                            type: "error",
                            layout: 'bottomRight',
                            theme: 'sunset',
                            timeout: 4000,
                            visibilityControl: true
                        }).show()
                    }
                });
            }
        });
    </script>
{% endblock %}