{% load badges %}
{% load icons %}
{% load misc_tags %}
{% if samples %}
<table class="table table-sm text-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Sample</th>
            <th>Location</th>
            {% if request_detail %}<th>Requests</th>{% endif %}
            <th>Data&nbsp;Sets</th>
            <th>Analysis&nbsp;Reports</th>
        </tr>
    </thead>
    <tbody>
        {% for sample in samples %}
        <tr>

            <td class="text-center">
                {% if user.is_superuser %}
                    {% if sample.pk %}
                        <a href="#!" data-form-link="{% url 'sample-admin-edit' sample.pk %}" title="Edit Notes">
                            <i class="ti ti-comment{% if sample.staff_comments %}-alt{% endif %}"></i>
                        </a>
                    {% endif %}
                {% else %}
                    {% if sample.staff_comments %}
                        <span title="Staff Comments"
                              data-toggle="popover"
                              data-content="{{ sample.staff_comments|default:''}}"
                              data-placement="bottom"
                              data-trigger="hover">
                            <i class="ti ti-comment-alt"></i> </span>
                    {% endif %}
                    {% if sample.collect_status %}<i class="ti ti-check-box"></i>{% endif %}
                {% endif %}
            </td>

            <td class="overflow-ellipsis"
            {% if sample.staff_comments %}
                title="Staff Comments"
                data-toggle="popover"
                data-content="{{ sample.staff_comments|default:''}}"
                data-placement="bottom"
                data-trigger="hover"
            {% endif %}
            >
                {% if sample.pk %}
                    <a href="{% url 'sample-detail' sample.pk %}" {% if sample.staff_comments %}class="checkout-dot"{% endif %}>{{ sample.name }}</a>
                {% else %}
                    {{ sample.name }}
                {% endif %}
            </td>
            <td class="overflow-ellipsis">
                {% if automounters %}{% with automounters|get_item:sample.container.pk as am %}
                    {{ am.beamline.acronym|default:'' }}{% if am and sample.pk %} | {% endif %}
                {% endwith %}{% else %}
                    {{ sample.automounter.beamline.acronym|default:'' }}{% if sample.automounter and sample.pk %} | {% endif %}
                {% endif %}
                {% if sample.pk %}
                    <a href="{% url 'container-detail' sample.container.pk %}">{{ sample.container.name }}</a>
                {% endif %}
                <span> |&nbsp;{{ sample.port }}</span>
            </td>
            {% if request_detail %}
                <td>
                    {% for request in sample.all_requests %}
                        <a href="{% url 'request-detail' request.pk %}">
                        <span class="badge badge-{% if request.status == request.STATUS_CHOICES.PENDING %}info
                                {% elif request.status == request.STATUS_CHOICES.DRAFT %}warning
                                {% elif request.status == request.STATUS_CHOICES.COMPLETE %}success
                                {% else %}primary{% endif %}" title="{{ request.get_status_display }}{% if request.comments %} | {{ request.comments }}{% endif %}">{{ request.kind.name }}</span>
                        </a>
                    {% endfor %}
                </td>{% endif %}
            <td>
                {% include "lims/entries/sample-data.html" %}
            </td>
            <td>
                {% include "lims/entries/sample-reports.html" %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

