{% load icons %}

{% with request.num_samples as num_samples %}
    <li class="list-group-item pl-2" id="request-{{ request.pk }}" data-request="{{ request.pk }}" data-highlight="id"
         data-reference="{% for s in request.sample_list %}{{ s.pk }} {% endfor %}">
        <div class="d-flex flex-row justify-content-between">
            {% if editable %}
                <div class="box-status text-center" style="width: 50px; min-width: 50px;">
                    <span class='cursor'>
                        {% show_icon icon='ti ti-md ti-move' tooltip='Priority' %}
                    </span>
                </div>
            {% endif %}
            <div class="text-left flex-fill pl-3">
                <a href="{% url 'request-detail' request.pk %}"><strong>{{ request.name }}</strong></a> |
                <span title="{{ request.comments }}" class="text-condensed">{{ request.kind.name }}</span>
                <div class="small">
                    {% for label, val in request.parameter_labels.items %}
                        <span title="{{ label }}">{{ val }}</span>
                        {% if not forloop.last %} | {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if editable %}
                <div class="tools-box">
                    <a href="#!" data-form-link="{% url 'request-edit' request.pk %}"
                        title="Edit Request Parameters">
                        {% show_icon icon="ti ti-md ti-pencil" color="primary" %}
                    </a>
                </div>
            {% else %}
                <div class="small text-info">
                <strong>{{ num_samples }} sample{{ num_samples|pluralize }}</strong>
                </div>
            {% endif %}
        </div>
    </li>
{% endwith %}