{% extends "lims/base.html" %}
{% load humanize %}
{% load markup %}
{% load icons %}
{% load static %}

{% block page_heading %}
    <h3>
        <span class="text-thin">Request |</span>
        <span class="text-condensed">
            <span class="text-muted">{% if user.is_superuser %}{{ object.project }} | {% endif %}</span><strong>{{ object.name }}</strong>
        </span>
    </h3>
    <span class="text-muted">
        {% if not object.is_editable %}<i class="text-muted ti ti-lock"></i>{% endif %}
        {{ object.identity }} | {{ object.kind.name }}
    </span>
{% endblock %}

{% block object_tools %}
    {% include "lims/tools-base.html" %}
{% endblock %}

{% block object_status %}
    <div class="status-bar">
        <div class="row">
            <div class="col d-flex flex-row">
                <h3 class="align-self-center m-0 p-0">
                    <span class="badge badge-{% if object.status == object.STATUS_CHOICES.PENDING %}info
                                {% elif object.status == object.STATUS_CHOICES.DRAFT %}warning
                                {% elif object.status == object.STATUS_CHOICES.COMPLETE %}success
                                {% else %}primary{% endif %}"><span class="text-condensed">{{ object.get_status_display }}</span></span>
                </h3>
            </div>
            <div class="col">
                <small class="text-muted text-condensed">Type:</small><br>
                {{ object.kind.name }}
            </div>
            <div class="col">
                <small class="text-muted text-condensed">Shipment:</small><br>
                {% if object.shipment %}<a href="{% url 'shipment-detail' object.shipment.pk %}">{{object.shipment.name}}</a>{% endif %}
            </div>
            <div class="col pull-right text-right">
                <small class="text-muted text-condensed">Number of Samples:</small><br>
                <strong>{{ object.num_samples }}</strong>
            </div>
        </div>
    </div>
{% endblock %}

{% block full %}
<div class="row">
    <div class="col-sm-9 bulk-edit">
        {% if object.status == object.STATES.DRAFT %}
            <div class="item-list sortable">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th class="">Name</th>
                        <th class="">Location</th>
                        <th class="">Container</th>
                        <th class="">Barcode</th>
                        <th class="">Comments</th>
                    </tr>
                </thead>
                <tbody>
                {% for sample in object.sample_list %}
                    <tr id="sample_{{ sample.pk }}" data-sample="{{ sample.pk }}">
                        <td><a href="#!" data-form-link="{% url 'sample-edit' sample.pk %}">{{ sample.name }}</a></td>
                        <td>{{ sample.location }}</td>
                        <td>{{ sample.container.name }}</td>
                        <td>{{ sample.barcode|default_if_none:"&mdash;" }}</td>
                        <td>{{ sample.comments|default_if_none:"&mdash;" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        {% else %}
            {% include "lims/entries/group-progress.html" with samples=object.sample_list %}
        {% endif %}
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header p-1 text-center text-wide text-muted"><small>PARAMETERS</small></div>
                <ul class="list-group list-group-flush">
                    {% for k, v in object.parameter_labels.items %}
                        <li class="list-group-item py-2"><strong>{{ k|title }}: </strong> <span class="float-right">{{ v }}</span></li>
                    {% endfor %}
                </ul>
        </div>
    </div>
</div>
    {% include "lims/comments.html" with object=object %}
{% endblock %}
