{% extends "lims/entries/session.html" %}
{% load icons %}
{% load static %}
{% load jsutils %}
{% load converter %}
{% load tz %}



{% block object_tools %}
    <a href="#!" class="pull-right" data-link="{% url 'session-history' object.pk %}">
        {% show_icon label='History' icon='ti ti-md ti-timer' %}
    </a>
{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/c3.min.css' %}" rel="stylesheet">
    <link href="{% static 'lims/css/reports.min.css' %}" rel="stylesheet">
{% endblock %}

{% block full %}
<div class="row">
    <div id="data-stats" class="col-12"></div>
</div>
{% endblock %}


{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/d3/d3.v5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/d3/d3.legend.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/d3/d3.timeline.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/misc/showdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/misc/c3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lims/js/mxlive-reports.min.js' %}"></script>

    <script type="text/javascript">
        var report = {{ report | safe }};
        $(document).ready(function() {
            $('#data-stats').liveReport({
                data: report
            });
        });
    </script>
{% endblock %}
